.jumbotron {
    background-image: url("../images/bg.jpg");
}
.text-shadow {
    text-shadow: 1px 1px #000;
}
.body-container {
    display: table;
    width: 100%;
    background: #E0E0E0;
    background-position: center top;
    height: 350px;
}
.container {
    padding: 0;
}
.navbar {
    background-color: #26A69A;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}